<center> <h2> DS 3000 - Fall 2021</h2> </center>
<center> <h3> DS Report </h3> </center>

<center> <h3>Which Type of College is Right for You: Public, Private, or For-Profit?</h3> </center>
<center><h4>Sophia Akhter, Cheryl Leigh, Jacob Chung</h4></center>

<hr style="height:2px; border:none; color:black; background-color:black;">

#### Executive Summary:

Our project is designed to help people apply to college, especially the underprivileged, by allowing them to fill out their ideal university criteria details and helping them figure out whether to look into public, private, or for-profit universities as they begin their college application process. Many students do not have access to good college resources such as counselors or might be the first in their families to navigate the applications, so figuring out the best type of universities to fit them is an important step.

We obtained our dataset from Kaggle. After performing various data wrangling and manipulation, we found it was most efficient to one-hot encode our categorical variables and now use quantitative variables such as as tuition, enrollment, and location. Given some of these feature variables as input, our algorithm will be able to predict whether a school with those characteristics is more likely to be public, private, or for profit.

We started off by using k-Nearest Neighbors, Guassian Naive Bayes, and Decision Tree. By using recusive feature elimination and hyper parameter tuning, we were able to improve the accuracy of our results. We discovered that the two most efficient algorithms to use were k-Nearest Neighbors and Decision Tree, with Decision Tree performing slightly more optimally. 

Upon concluding our project, we were able to determine that the three most important features in classifying a school as public, private, or for-profit are in_state_tuition, out_of_state_total, and total_enrollment. In the future, we feel that we could use more feature variables, add more data points, and also train our model with other algorithms such as Support Vector Machine.

<hr style="height:2px; border:none; color:black; background-color:black;">

## Outline
1. <a href='#1'>INTRODUCTION</a>
2. <a href='#2'>METHOD</a>
3. <a href='#3'>RESULTS</a>
4. <a href='#4'>DISCUSSION</a>

<a id="1"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

## 1. INTRODUCTION

<h4>Problem Statement</h4>

Our project focuses on helping students apply to college by narrowing down their choices. Nowadays it is almost essential to obtain a college degree in order to gain an advantage in the workforce and have a step up in life. A college degree is seen in our society almost as a commodity because it carries much more social value than just pure knowledge and education. For our project, we will try to classify colleges into either public, private, or for-profit universities based on criteria that a prospective student might be looking for. For a student who is beginning their college process and has an idea of the enrollment size they would like, the ideal tuition cost, or location, our project could be of benefit to them. Our algorithm will point them toward the best type of institution options for them by predicting whether their inputs fall into the public, private, or for-profit categories.

<h4>Significance of the Problem</h4>

We believe that it is important to tackle this problem because it is relevant to us as students along with the
whole country as a system. Some people in our world unfortunately do not have access to as many resources to be as
knowledgeable about the college process as others. For example, first generation applicants or those who do not have college counselors are people who might need guidance about what types of schools to look for, given their backgrounds and preferences. Ideally, our program would be a resource for anyone with internet access to learn more about the best college type for them.

<h4>Questions</h4>

Do schools have enough common charactersitics among each other to train an ML algorithm? On the other hand, is each college too unique from each other or to be able to do accurately do this?

How do the k-nearest neighbors, gasussian naive bayes, and decision tree algorithms compare in correctly predicting a college type based on the given features?

<a id="2"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

## 2. METHOD

### 2.1. Data Acquisition

We obtained our data from kaggle.com (https://www.kaggle.com/jessemostipak/college-tuition-diversity-and-pay?select=diversity_school.csv). There were multiple csv files where we ultimately had to do some data wranging and merging between multiple csv files.

After doing the required data wrangling and transformation (which we talk about in the next section), we finally arrived at our feature and outcome variables. This dataset initially included all quantitative variables except degree_length and state. We then one-hot encoded them to get them to become quantative variables (we also talk about this in a later section). Now all of our variables are quantitative.

* type: a college can either be private, public, or for profit 
* room_and_board: the price to live at the college 
* in_state_tuition: if a person lives in the state of the college, they will pay this price
* in_state_total: in state tuition + room and baord
* out_of_state_tuition: if a person does not live in the state of the college, they will pay this price
* out_of_state_total: out of state tuition + room and board
* total_enrollment: how many students attend this college
* degree_length_2 Year: whether the degree length is 2 years
* degree_length_4 Year: whether the degree length is 4 years
* state: where the college is located, we have made this to be 50 columns, each represnting a US state

### 2.2. Data Analysis

Our target varible will be the type of college, and all other variables will be feature variables. Therefore, we will be predicting whether a college is private, public, or for profit given the feature variables. 

We think that in state tuition, out of state tuition, total enrollment, and whether the degree length is 2 vs 4 years will all play important factors. For example, we know that public schools tend to have a lower in state tuition than a private school. We also think that total enrollment may play a factor because public schools tend to be really large while some private schools are very small.

This is a supervised ML classification problem beacause we are trying to learn by example. We will be using ML algorithms that will take in data and answers and return some rules. Under the hood, these rules will now be used to predict and classify a type of college.  

The three ML algorithms we will be using are as follows: 

* k-Nearest Neighbors: This algorithm first finds the k most similar instances based on distance between this point and other points. Then it gets the labels of these instances and a majority vote is taken to determine the prediction. The pro is that this has reasonable performance without a lot of adjustments, but the con is that it can be pretty slow. We chose this because from what we have seen with past datasets, this algorithm has high performance. 


* Gaussian Naive Bayes: This algorithm is a probabilistic algorithm that makes the assumption that all features are equally important. The pro is that this works well with high dimensional data, but the con is that the assumption that features are conditionally independent is naive. We think this will be a good baseline to compare to our other algorithms to see if features may relate to each other. 


* Decision Tree: This algorithm uses a hierarchy of if/else questions which can quickly lead to a decision. The pro is that no feature normalization or scaling is typically needed, but the con is that we usually need multiples of trees for better generalization performance. We chose this because it breaks down complex data into more manageable parts and is easy to visualize.

<a id="3"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

## 3. RESULTS

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import plotly.express as px
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import RFE
from sklearn.metrics import confusion_matrix

### 3.1. Data Wrangling

In [2]:
# after reading the csv file, we drop all the rows with NA values 
# these NA values appeared in room_and_board

# corresponds to tuition_cost.csv
url = "https://raw.githubusercontent.com/jacobchung730/ds3000FinalProject/master/ds3000_data/tuition_cost.csv?token=AT6KX2ONPPIKKK723FVLGXLBXT6IY"
one = pd.read_csv(url, index_col=["name", "state"])
one = one.dropna()
one.head()

,,state_code,type,degree_length,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total
name,state,,,,,,,,
Abilene Christian University,Texas,TX,Private,4 Year,10350.0,34850,45200,34850,45200
Abraham Baldwin Agricultural College,Georgia,GA,Public,2 Year,8474.0,4128,12602,12550,21024
Academy of Art University,California,CA,For Profit,4 Year,16648.0,27810,44458,27810,44458
Adams State University,Colorado,CO,Public,4 Year,8782.0,9440,18222,20456,29238
Adelphi University,New York,NY,Private,4 Year,16030.0,38660,54690,38660,54690

In [3]:
# after reading the csv file, we drop unneeded columns: category and enrollemnt
# these two columns that we dropped had the enrollment PER category
# ultimately, we just need the TOTAL enrollment per college
# we also dropped any duplciate rows

# corresponds to diversity_school.csv
url = "https://raw.githubusercontent.com/jacobchung730/ds3000FinalProject/master/ds3000_data/diversity_school.csv?token=AT6KX2KBJ7UHUZRGDAOWBMDBXT6CQ"
two = pd.read_csv(url, index_col=["name", "state"])
two = two.drop("category",1)
two = two.drop("enrollment",1)
two = two.drop_duplicates()
two.head()

                                                     total_enrollment
name                                       state
University of Phoenix-Arizona              Arizona             195059
Ivy Tech Community College-Central Indiana Indiana              91179
Liberty University                         Virginia             81459
Lone Star College system                   Texas                69395
Miami Dade College                         Florida              66046

In [4]:
# we merge the two dataframes so that our new dataframe can have enrollment per college
# we reset the indices to natural numbers 
# we merged over the name and state 
# we drop name and state code
# we already had the state name, so having the state code would be redundant
final = pd.merge(one, two, on=["name", "state"], how="left")
final = final.reset_index()
final = final.drop("name",1)
final = final.drop("state_code",1)
final.head()

,state,type,degree_length,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total,total_enrollment
0,Texas,Private,4 Year,10350.0,34850,45200,34850,45200,4427.0
1,Georgia,Public,2 Year,8474.0,4128,12602,12550,21024,3458.0
2,California,For Profit,4 Year,16648.0,27810,44458,27810,44458,15212.0
3,Colorado,Public,4 Year,8782.0,9440,18222,20456,29238,3154.0
4,New York,Private,4 Year,16030.0,38660,54690,38660,54690,7610.0

In [5]:
# we want to one-hot encode the degree_length column: 2 Year and 4 Year
# we wanted to do this because we needed to change from categorical to quantitative variables
# we went from having 1 degree_length column to now having 2 columns
length = final["degree_length"].values.reshape(-1,1)
encoder = OneHotEncoder(sparse = False)

encoded_df = encoder.fit_transform(length)

features_df = pd.DataFrame(encoded_df, columns = encoder.get_feature_names(["degree_length"]))

df_merged = final.merge(features_df, how='outer', left_index=True, right_index=True)

In [6]:
# we want to one-hot encode the state column: 50 states in the USA
# we wanted to do this because we needed to change from categorical to quantitative variables
# we went from having 1 state column to now having 50 columns, one representing each state
location = final["state"].values.reshape(-1,1)

encoder1 = OneHotEncoder(sparse = False)

encoded_df1 = encoder1.fit_transform(location)

features_df1 = pd.DataFrame(encoded_df1, columns = encoder1.get_feature_names(["state"]))

df_merged1 = df_merged.merge(features_df1, how='outer', left_index=True, right_index=True)

In [7]:
# after one hot encoding, we drop the original degree_length and state columsn because we have our new columns now
df_merged1 = df_merged1.drop("degree_length", 1)
df_merged1 = df_merged1.drop("state", 1)

# drop all NA values because some schools did not have an enrollment count in our dataset
# we also reset the index because we had removed some rows so some indicies were missing previously
df_merged1 = df_merged1.dropna()
df_merged1 = df_merged1.drop("state_nan", 1)
df_merged1 = df_merged1.reset_index()
df_merged1 = df_merged1.drop("index",1)
df_merged1.head()

,type,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total,total_enrollment,degree_length_2 Year,degree_length_4 Year,state_Alabama,...,state_South Dakota,state_Tennessee,state_Texas,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
0,Private,10350.0,34850,45200,34850,45200,4427.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Public,8474.0,4128,12602,12550,21024,3458.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,For Profit,16648.0,27810,44458,27810,44458,15212.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Public,8782.0,9440,18222,20456,29238,3154.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Private,16030.0,38660,54690,38660,54690,7610.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 3.2. Data Exploration

In [8]:
descriptives = df_merged.groupby(["type"]).agg(["count", "mean", "std", "sem"])["total_enrollment"]
descriptives

            count          mean           std          sem
type
For Profit      9  10764.111111  19904.722841  6634.907614
Private       620   4079.814516   6082.055651   244.261233
Public        469  10602.908316  10449.964650   482.534534

In [9]:
descriptives = descriptives.reset_index()

graph = px.bar(descriptives, x = "type", y = "mean", color = "type",
               error_x = "sem", error_y = "sem", labels = {"mean": "Average Enrollment"},
               template='ggplot2', color_discrete_sequence=["darkslateblue", "indianred", "darkseagreen"], 
               width = 550)

#### Visualization 1 Bar Chart
<img src="https://i.ibb.co/WHjL8Tq/Screen-Shot-2021-12-10-at-3-57-07-PM.png" width="600"/>

**Interpretation for bar chart**: On the x axis we have the type of school: for profit, private, and public. We are comparing this to the y axis which is average enrollment. As the visualization shows, public and for profit schools typically have higher enrollment counts while a private school on avergae has less students. Enrollment count could be an important feature variable in classifying type of school.

In [10]:
graph = px.box(df_merged, x= "type", y= "in_state_total", color = "type",
               template='ggplot2',
               color_discrete_sequence=["indianred", "darkseagreen", "darkslateblue"], 
               width = 550)

#### Visualization 2 Box Plot
<img src="https://i.ibb.co/bJRKCKY/Screen-Shot-2021-12-09-at-2-01-08-PM.png" width="600" />

**Interpretation for box plot**: We can see that out of the three types of schools, public has the lowest in state tuition. The max for in-state tuition is even less than the median tution for private and for-profit schools. We can also see that the max private school tuition is over 70k, which is insanely high compared to public and for-profit.

In [11]:
graph = px.violin(df_merged, x= "type", y= "out_of_state_total", color = "type", 
                  points="all", template='ggplot2',
                  color_discrete_sequence=["indianred", "darkseagreen", "darkslateblue"], 
                  width = 550)

#### Visualization 3 Violin Plot
<img src="https://i.ibb.co/bzVCtm6/Screen-Shot-2021-12-09-at-2-01-03-PM.png" width="600" />

**Interpretation for violin plot**: When looking at this violin plot, we can also see the densities for all of our data points. We can see that the out of state tuiton for public schools are densely populated around 10k to 30k while private schools is pretty evenly populated throughout 20k to 70k. When looking at out of state vs in state tution, it is looking like in state tution will probably be a more important feature variable. There are also a lot of private and public data points. However, there are not many for profit data points so this might be a flaw in our data set.

### 3.3. Model Training

In [12]:
estimators = {
    'k-Nearest Neighbor': KNeighborsClassifier(), 
    'Gaussian Naive Bayes': GaussianNB(),
    'Decision Tree': DecisionTreeClassifier()
}

In [13]:
# creating the target and feature variables 
features = df_merged1.drop("type", axis = 1)
target = df_merged1["type"]

# splits the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=3000)

In [14]:
# we are using recursive feature elimination to select the three most important features for our classification
select = RFE(DecisionTreeClassifier(random_state = 3000), n_features_to_select = 3)

select.fit(X_train, y_train)

X_train_selected = select.transform(X_train)
X_test_selected = select.transform(X_test)
    
model = DecisionTreeClassifier().fit(X=X_train, y=y_train)
    
mapping = list(zip(features.columns, select.get_support()))
    
print("Selected features after RFE:")
for item in mapping:
    if item[1] == True:
        print("\t", item[0])

Selected features after RFE:
	 in_state_tuition
	 out_of_state_total
	 total_enrollment

In [15]:
# comparing test results using all features vs using selected features

print("TEST RESULTS WITH ALL FEATURES:")
# go through all estimators in dictionary 
for estimator_name, estimator_object in estimators.items():
        
    #select a classifier
    classifier = estimator_object
        
    #create the model by fitting the training data
    classifier.fit(X=X_train, y=y_train)
        
    #make predictions on the test set
    predicted = classifier.predict(X=X_test)
        
    #prediction accuracy
    accuracy = classifier.score(X_test, y_test)
        
    print("\t", estimator_name + ": \n\t\t" + "Classification accurary on the test data: " + f"{accuracy:.2%}"+ "\n")
    

print("TEST RESULTS WITH SELECTED FEATURES:")
# go through all estimators in dictionary 
for estimator_name, estimator_object in estimators.items():
        
    #select a classifier
    classifier = estimator_object
        
    #create the model by fitting the training data
    classifier.fit(X=X_train_selected, y=y_train)
        
    #make predictions on the test set
    predicted = classifier.predict(X=X_test_selected)
        
    #prediction accuracy
    accuracy = classifier.score(X_test_selected, y_test)
        
    print("\t", estimator_name + ": \n\t\t" + "Classification accurary on the test data: " + f"{accuracy:.2%}"+ "\n")

TEST RESULTS WITH ALL FEATURES:
	 k-Nearest Neighbor:
		Classification accurary on the test data: 96.36%

	 Gaussian Naive Bayes:
		Classification accurary on the test data: 89.82%

	 Decision Tree:
		Classification accurary on the test data: 97.09%

TEST RESULTS WITH SELECTED FEATURES:
	 k-Nearest Neighbor:
		Classification accurary on the test data: 96.73%

	 Gaussian Naive Bayes:
		Classification accurary on the test data: 91.64%

	 Decision Tree:
		Classification accurary on the test data: 97.45%

In [16]:
# a metric that we are using is mean accuracy with standard deviation 
# we can see that on average, knn has the highest accuracy
for estimator_name, estimator_object in estimators.items():
    kfold = KFold(n_splits=10, random_state=3000, shuffle=True)
    
    scores = cross_val_score(estimator=estimator_object, X=features, y=target, cv=kfold)
    
    print(estimator_name + ": \n\t" + f'mean accuracy={scores.mean():.2%}, ' 
          + f'standard deviation={scores.std():.2%}' +"\n")

k-Nearest Neighbor:
	mean accuracy=98.18%, standard deviation=1.35%

Gaussian Naive Bayes:
	mean accuracy=90.43%, standard deviation=2.44%

Decision Tree:
	mean accuracy=97.08%, standard deviation=1.46%

In [17]:
# another metric that we use is a confusion matrix
# we know that correct predictions will be shown on the principal diagonal
# nonzero values that are not on the principal diagonal indicate an incorrect prediction 
# each row represnts a distinct class (public, private, and for profit)
# each column specifies how many test samples were classified into the 3 classes
knn = KNeighborsClassifier()

#create the model by fitting the training data
knn.fit(X=X_train, y=y_train)

#make predictions on the test set
predicted = knn.predict(X=X_test)

expected = y_test

#prediction accuracy
accuracy = knn.score(X_test, y_test)

confusion = confusion_matrix(y_true=expected, y_pred=predicted)
print(confusion)

[[  0   4   0]
 [  0 141   3]
 [  0   3 124]]

##### 3.4. Model Optimization

In [18]:
# we can see from our results that knn and decision tree have the highest prediction accuracy so far
# therefore will try to improve the performance even more by hyperparameter tuning

In [19]:
# these are the n_neighbors values that we want to test out
param_grid1 = {"n_neighbors":[1, 2, 3, 4, 5, 10]}
grid_search1 = GridSearchCV(KNeighborsClassifier(), param_grid1, cv=5)

#fit the grid search object on the training data
grid_search1.fit(X=X_train_selected, y=y_train)

# result of grid search
print("Best estimator: ", grid_search1.best_estimator_)
print("Best parameters: ", grid_search1.best_params_)

Best estimator:  KNeighborsClassifier(n_neighbors=3)
Best parameters:  {'n_neighbors': 3}

In [20]:
# these are the max_depth values that we want to test out
param_grid2 = {"max_depth":[1, None]}
grid_search2 = GridSearchCV(DecisionTreeClassifier(), param_grid2, cv=5)

#fit the grid search object on the training data
grid_search2.fit(X=X_train_selected, y=y_train)

# result of grid search
print("Best estimator: ", grid_search2.best_estimator_)
print("Best parameters: ", grid_search2.best_params_)

Best estimator:  DecisionTreeClassifier()
Best parameters:  {'max_depth': None}

In [21]:
# We are hyperparameter tuning to find the best n_neighbors value and max_depth value
# By doing this, we can optimize our algorithm's classification accuracy.
# We also want our model to easily adapt to new sets of data so that it can 
# minimize the possibility of overfitting our data.

### 3.5. Model Testing

In [22]:
# after hyper parameter tuning, we will use those parameters because they will have the highest accuracy

classifier1 = grid_search1.best_estimator_
        
#create the model by fitting the training data
classifier1.fit(X=X_train_selected, y=y_train)
        
#make predictions on the test set
predicted1 = classifier1.predict(X=X_test_selected)
        
#prediction accuracy
accuracy1 = classifier1.score(X_test_selected, y_test)
        
print("k-Nearest Neighbor:" + ": \n\t" + "Classification accurary on the test data: " + f"{accuracy1:.2%}"+ "\n")

classifier2 = grid_search2.best_estimator_
        
#create the model by fitting the training data
classifier2.fit(X=X_train_selected, y=y_train)
        
#make predictions on the test set
predicted2 = classifier2.predict(X=X_test_selected)
        
#prediction accuracy
accuracy2 = classifier2.score(X_test_selected, y_test)
        
print("Decision Tree:" + ": \n\t" + "Classification accurary on the test data: " + f"{accuracy2:.2%}"+ "\n")

k-Nearest Neighbor::
	Classification accurary on the test data: 97.09%

Decision Tree::
	Classification accurary on the test data: 97.45%

<a id="4"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

## 4. DISCUSSION

We compared k-Nearest Neighbors, Gaussian Naive Bayes, and Decision Tree. k-Nearest Neighbors and Decision Tree performed relatively the same, both performing better than Gaussian Naive Bayes. However, Decision Tree slightly outperformed k-Nearest Neighbors. After hyperparamter tuning, we found that an n_neighbors value of 3 and a the defualt max_depth value of None were optimal for our algorithms. Now, we were able to increase classficiation accuracy by about half of a percent. Therefore, we believe that Decision Tree should be used for our predictive model because it had the overall highest classification accuracy. 

We are able to predict our outcome variable of school type using our features such as enrollment count, in state tution cost, and out of state tuition cost. Using recursive feature elimination, we were able to conclude that in_state_tuition, out_of_state_total, and total_enrollment were the three most important features for our classification algorithm. When comparing our model using all the features vs the selected features, we found that our model performed better using only the selected features.

An ethical implication our of project would be the issue of classism and how some are not able to afford an education. Those who are more affluent are often able to get into the schools they desire, while it may possbily be harder for someone not as wealthy to be able to get into and afford their dream school. 

If we were to do this project again, there are a few things that we would like to change. First, we would like to have more instances of for-profit schools. For-profit schools were severely under represented while public and private schools had many more instances in this dataset. Also, we could have had more feature columns such as international student count and also graduation rate. Intuitively, we think that public schools may possbily have a slightly lower graduation rate than a private school. We think this because private schools charge more tuition so one is less likely to drop out or else they would have lost more money. In the future, an extension of this project could use another classification algorithm such as Support Vector Machine and compare its performance to that of the algorithms we already trained and tested.

<a id="5"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

### CONTRIBUTIONS
Sophia: Worked on Executive Summary, Introduction, Model Training

Cheryl: Worked on Data Acquisition, Model Optimization, Dicussion

Jacob: Worked on Data Analysis, Data Wrangling, Data Exploration, Model Testing

Overall, we worked well as a group. Whenever we needed each other's support, we were able help each other. For the most part, we worked on all of the sections as a group and met in-person.